<header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    {{ if .Description }}
        <p class="post-description" itemprop="description">{{ .Description }}</p>
    {{ end }}
    <p class="post-date">
        <span>Published <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time></span>
        <span>by</span>
        <span itemscope="" itemprop="author" itemtype="https://schema.org/Person">
            <span itemprop="name">
                <a href="{{ .Site.Author.profile }}" itemprop="url" rel="author">{{ .Site.Author.name }}</a>
            </span>
        </span>
    </p>
</header>

<div>
  <center class="share" style="float: none; margin-bottom: 20px">
    <span>Share this post:</span>
    <a class="icon-twitter" href="http://twitter.com/share?text=How%20to%20manage%20or%20eliminate%20%23React%20state%20without%20%23Redux%20by%20%40monicalent&url=http%3a%2f%2fmonicalent.com%2fblog%2f2017%2f07%2f23%2fmanage-state-in-react%2f"
                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <i class="fa fa-twitter"></i>
      <span class="hidden">Twitter</span>
    </a>

    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fmonicalent.com%2fblog%2f2017%2f07%2f23%2fmanage-state-in-react%2f"
                             onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <i class="fa fa-facebook"></i>
      <span class="hidden">Facebook</span>
    </a>

    <a class="icon-google-plus" href="https://plus.google.com/share?url=http%3a%2f%2fmonicalent.com%2fblog%2f2017%2f07%2f23%2fmanage-state-in-react%2f"
                                onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      <i class="fa fa-google-plus"></i>
      <span class="hidden">Google+</span>
    </a>
  </center>
</div>
